<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="bottom_block">
                <div class="row_right">
                    <div class="left_side">
                        <div class="widget light">
                            <div class="feedback_left">
                                <div class="title">Умови співпраці.</div>
                                <p class="text"> <img src="../images/handshake2.jpg"/>
                                    Lorem ipsum dolor sit amet, porro tritani urbanitas vix eu, erant impedit eam no,
                                    ad fabulas percipit intellegat mel. Ignota suavitate conceptam vix at, amet consulatu
                                    vis id, id clita quidam causae vim. Cum eu argumentum persequeris, posse audiam verear
                                    no vim, no maiestatis adversarium usu. Sit no facete cotidieque instructior.

                                    Meis illum menandri et sed, vim ea primis consetetur. Omnes nostro aliquid an qui,
                                    sea noster consequat quaerendum ne, vix alienum voluptatibus ne. Mel an porro rationibus.
                                    Ut magna assentior voluptaria pro, purto euripidis philosophia mea ei.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="none_padding_left col-sm-4">
            <div class="bottom_block">
                <div class="right_side light">
                    <div class="widget">
                        <div class="feedback_right">
                            <div class="name">Залишити відгук:</div>
                            <input type="email" placeholder="Імейл" class=""/>
                            <textarea placeholder="Ваші побажання щодо покращення сайту.."></textarea>
                            <button ng-click="sendClientComment"
                                    class="btn btn-success">
                                <span class="glyphicon glyphicon-send"></span>
                                &nbsp;&nbsp;Надіслати
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
