<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="bottom_block">
                <div class="row_right">
                    <div class="left_side">
                        <div class="widget light">
                            <div class="contacts_left">
                                <div class="title">Наші контакти</div>
                                <ul class="no_ul names">
                                    <li>
                                        Телефон:
                                    </li>
                                    <li>
                                        Імейл:
                                    </li>
                                    <li>
                                        Вконтакті:
                                    </li>
                                    <li>
                                        Фейсбук:
                                    </li>
                                </ul>
                                <ul class="no_ul values">
                                    <li>
                                        +38(095)6147143
                                    </li>
                                    <li>
                                        swyatyxa@i.ua
                                    </li>
                                    <li>
                                        <a href="https://vk.com/id36662252">
                                            https://vk.com/id36662252
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/profile.php?id=100008749699460">
                                            https://www.facebook.com/profile.php?id=100008749699460
                                        </a>
                                    </li>
                                </ul>
                                <img src="../images/contacts.jpg"/>
                                <div class="contact_form">
                                    <hr>
                                    <div>Напишіть нам:</div>
                                    <input type="email" placeholder="Імейл" class=""/>
                                    <input type="text" placeholder="Телефон" class=""/>
                                    <textarea placeholder="Ваше повідомлення"></textarea>
                                    <button ng-click="sendClientComment"
                                            class="btn btn-success">
                                        <span class="glyphicon glyphicon-send"></span>
                                        &nbsp;&nbsp;Надіслати
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
